<div class="notification-block">
  <div class="container">
    <div class="notification-block_header">
      <div>
        <h4>What is <strong>My Global Set</strong>?</h4>
      </div>
      <button (click)="toggleCollapse()" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#notification" aria-expanded="false" aria-controls="notification">
        <i class="bi" [class.bi-chevron-down]="!collapseIsOpen" [class.bi-x-lg]="collapseIsOpen"></i>
      </button>
    </div>
    <div class="notification-block_body collapse" id="notification">
      <p><strong>My Global Set</strong> is an application tailored for global set collectors of Magic: The Gathering cards from around the world.
        It offers a comprehensive search tool that catalogs every printed edition of individual cards, allowing collectors
        to streamline their search and manage their acquisitions with ease. This platform is designed to help enthusiasts
        locate and track down the exact versions of cards they need to complete their collections.</p>
      <p>Some examples of Magic: the Gathering cards to search:</p>
      <ul>
        <li>
          <strong>Black Lotus</strong>: most famous Magic: the Gathering card.
        </li>
        <li>
          <strong>Lightning Bolt</strong>: bolt the bird!
        </li>
        <li>
          <strong>Drudge Skeletons</strong>: my friend Guillem really loves skeletons.
        </li>
        <li>
          <strong>Ancestral Recall</strong>: drawing  cards is always a good thing, right?
        </li>
        <li>
          <strong>Ironclaw Orcs</strong>: not the best creature card... but still cool!
        </li>
      </ul>
    </div>
  </div>
</div>
