// Bootstrap
@import "./../../../../shared/styles/variables";
@import "bootstrap/scss/bootstrap";

//------------------------------//
//--- Collection Item Styles ---//
//------------------------------//
.collection-item {
  display: flex;
  background-color: transparent;
  align-items: center;
  color: $body-color;
  align-items: center;
  padding: .5rem 0;
  transition: opacity 800ms ease-out;

  @include media-breakpoint-up(md) {
    padding: .5rem;
  }

  &.deleting {
    opacity: 0;
  }

  &:hover {
    background-color: $light;
  }

  &_link {
    display: flex;
    align-items: center;
    width: 100%;

    .collection-item_title,
    .collection-item_stats {
      color: $body-color
    }
  }

  &_img {
    width: 25%;
    max-width: 100px;
    border-radius: $border-radius;
  }

  &_title {
    margin: 0 1rem;
    font-size: $font-size-base;

    @media only screen and (min-width: 768px) {
      margin: 0 1.5rem;
    }
  }

  &_stats {
    font-size: $font-size-sm;
    width: auto;
    min-width: 85px;
    margin: 0 1rem 0 auto;
    display: flex;
    align-items: center;

    @media only screen and (min-width: 768px) {
      margin: 0 2rem 0 auto;
    }

    &__percentage {
      margin-left: 1rem;
    }

    &__star {
      color: $primary;
      margin-left: 1.25rem;
      font-size: 17px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
      top: -1px;
    }
  }

  &_delete {
    border: 0;
    background-color: transparent;
    color: $dark;
    font-size: $font-size-lg;

    @media only screen and (min-width: 768px) {
      padding: .5rem;
    }

    &:hover {
      color: $danger;
    }
  }

}
