// Custom SCSS Variables
@import "./../../../../shared/styles/variables";
@import "bootstrap/scss/bootstrap";

//------------------------------//
//--- Collection Item Styles ---//
//------------------------------//
.collection-item {
  display: flex;
  background-color: transparent;
  align-items: center;
  color: $body-color;
  display: flex;
  align-items: center;
  padding: .5rem;

  &:hover {
    background-color: $light;
  }

  &_link {
    display: flex;
    align-items: center;
    width: 100%;

    .collection-item_title {
      color: $body-color
    }
  }

  &_img {
    width: 90px;
    border-radius: $border-radius;
  }

  &_title {
    margin-left: 1rem;
    font-size: $font-size-base;
    width: 100%;
  }

  &_options {
    margin-left: auto;

    &__gear {
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      background-color: transparent;
      padding: .5rem;

      &:hover, &:focus, &:target {
        opacity: .5;
      }
    }

    .dropdown-menu {
      border-radius: 0;
      border: 0;
      background-color: $light;
      box-shadow: $box-shadow;
      transform: translate(-40px, 0px);
      min-width: 130px;

      .dropdown-item {
        font-size: $font-size-sm;

        &:hover {
          background-color: transparent;
          opacity: .7;
        }

        i {
          margin-right: .5rem;
        }
      }
    }
  }
}
