<div class="collection-item" [class.deleting]="isDeleting">

  <a class="collection-item_link" routerLink="/collection/{{ collection.id }}">
    <img class="collection-item_img" src="{{ cardArtUrl }}" alt="{{ collection.card_name }}">
    <h2 class="collection-item_title">{{ collection.card_name }}</h2>
    <div class="collection-item_stats">
      <div class="collection-item_stats__rate">{{ collectionStats.collected_prints_count }} / {{ collectionStats.total_prints_count }}</div>
      <div class="collection-item_stats__percentage">({{ collectionStats.completed_percentage }}%)</div>
      <i *ngIf="collectionStats.completed_percentage === 100" class="bi bi-star-fill collection-item_stats__star"></i>
    </div>
  </a>

  <button class="collection-item_delete" (click)="confirmDelete()">
    <i class="bi bi-trash-fill"></i>
  </button>

</div>
