//---------------------//
//--- Navbar Styles ---//
//---------------------//
.navbar {
  padding: .5rem;
}
.navbar-brand {
  font-size: 1.25rem;
  padding: .75rem 0;

  img {
    height: auto;
    max-width: 150px;
  }
}
