//---------------------//
//--- Navbar Styles ---//
//---------------------//
.navbar {
  min-height: 70px;
}
.navbar-brand {
  font-size: 1.25rem;

  img {
    height: auto;
    max-width: 165px;
  }
}
