// Bootstrap
@import "./../../../../shared/styles/variables";


//--------------------------------//
//--- Collection Detail Styles ---//
//--------------------------------//

.collected-card-item {
  display: flex;
  background-color: transparent;
  align-items: center;
  color: $body-color;
  padding: .5rem 0;
  transition: opacity 800ms ease-out;

  @media only screen and (min-width: 768px) {
    padding: .5rem;
  }

  &:hover {
    background-color: $light;
  }

  &_img {
    width: 20%;
    max-width: 70px;
  }

  &_meta {
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: .5rem 0;
  }

  &_actions {
    margin-left: auto;

    @media only screen and (min-width: 768px) {
      margin-right: .5rem;
    }

    .btn {
      display: flex;
      align-items: center;

      i {
        margin-right: .33rem;
      }
    }
  }

  &_set {
    font-size: $font-size-base;
    margin-bottom: .5rem;
  }

  &_lang {
    font-size: $font-size-sm;
    display: flex;
    align-items: center;
    margin: 0 0 .5rem 0;

    i {
      border-radius: 100%;
      margin-right: .33rem;
    }
  }

  &_copy {
    font-size: $font-size-sm;
    margin: auto 0 0 0;
  }

  &.collected {

    background-color: rgba(green, .25);

  }


}
