// Bootstrap
@import "./../../../../shared/styles/variables";


//--------------------------------//
//--- Collection Detail Styles ---//
//--------------------------------//

.collected-card-item {
  display: flex;
  background-color: transparent;
  align-items: center;
  color: $body-color;
  transition: opacity 800ms ease-out;
  border-radius: $border-radius;
  margin: .75rem 0;
  position: relative;

  &--first {
    margin-top: 0;
  }

  &--collected {
    background-color: $light;
  }

  &_img {
    width: 20%;
    max-width: 100px;
    box-shadow: $box-shadow;
    margin: .5rem;
  }

  &_meta {
    margin: 0 .5rem;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 1.5rem 0;
    min-width: 115px;

    @media only screen and (min-width: 768px) {
      margin: 0 1rem;
    }
  }

  &_actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70px;
    align-self: stretch;

    .btn {
      display: flex;
      align-items: center;

      i {
        margin-right: .5rem;
      }
    }
  }

  &_set {
    margin-bottom: .75rem;
    display: flex;
    align-items: center;

    &__icon {
      width: 25px;
      max-height: 25px;
      margin-right: .75rem;
    }

    &__name {
      font-size: $font-size-base;
      margin: 0;
    }
  }

  &_lang {
    font-size: $font-size-sm;
    display: flex;
    align-items: center;
    margin: auto 0 .5rem 0;

    i {
      border-radius: 100%;
      margin-right: .5rem;
      width: 13px;
      height: 13px;
    }
  }

  &_copy {
    font-size: $font-size-sm;
    margin: 0;
  }

  &_btn {
    font-size: $font-size-lg;
    border: 0;
    padding: .25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    color: $dark;

    &--add {
      &:hover {
        color: $primary;
      }
    }

    &--remove {
      &:hover {
        color: $danger;
      }
    }
  }

  &_star {
    background-color: rgba($primary, 100%);
    font-size: 12px;
    color: $white;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 100%;
    padding: 12px;
    box-shadow: $box-shadow;

    i {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 18px;
      height: 18px;
      top: -3px;
      left: -3px;
    }
  }

}

// Collection Stats
.collection-stats {

  &_header {
    border-radius: $border-radius;
    background-color: $primary;
    padding: .75rem;
    margin-bottom: .5rem;
  }

  &_title {
    color: $white;
    font-size: $font-size-base;
    margin: 0;
  }

  &.sticky-md-top {
    top: 1.5rem;
  }
}
