// Bootstrap
@import "./../../../../shared/styles/variables";


//--------------------------------//
//--- Collection Detail Styles ---//
//--------------------------------//

.collected-card-item {
  display: flex;
  background-color: transparent;
  align-items: center;
  color: $body-color;
  padding: .5rem;
  transition: opacity 800ms ease-out;
  border-radius: $border-radius;
  margin: .75rem 0;
  border: 1px solid transparent;
  position: relative;

  @media only screen and (min-width: 768px) {
    padding: 1rem;
  }

  &:first-child {
    margin-top: 0;
  }

  &--collected {
    // border-color: rgba($primary, 15%);
    background-color: rgba($primary, 5%);
  }

  &_img {
    width: 25%;
    max-width: 120px;
    box-shadow: $box-shadow;
  }

  &_meta {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: .5rem 0;
    min-width: 115px;

    @media only screen and (min-width: 768px) {
      margin: 0 1.5rem;
      padding: .75rem 0;
    }
  }

  &_actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 65px;

    .btn {
      display: flex;
      align-items: center;

      i {
        margin-right: .5rem;
      }
    }
  }

  &_set {
    font-size: $font-size-base;
    margin-bottom: .75rem;
  }

  &_lang {
    font-size: $font-size-sm;
    display: flex;
    align-items: center;
    margin: 0 0 .5rem 0;

    i {
      border-radius: 100%;
      margin-right: .5rem;
      width: 13px;
      height: 13px;
    }
  }

  &_copy {
    font-size: $font-size-sm;
    margin: auto 0 0 0;
  }

  &_btn {
    font-size: 21px;
    border: 0;
    padding: .25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    color: $gray-600;

    &--add {
      &:hover {
        color: $primary;
      }
    }

    &--remove {
      &:hover {
        color: $danger;
      }
    }
  }

  &_star {
    background-color: rgba($primary, 100%);
    font-size: 13px;
    color: $white;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 20px;
    padding: 9px 17px;
    box-shadow: $box-shadow;

    i {
      position: relative;
      top: -1px;
      left: -1px;
    }
  }

}


// Collection Stats
.collection-stats {

  &_header {
    border-radius: $border-radius;
    background-color: $primary;
    padding: .75rem;
    margin-bottom: .5rem;
  }

  &_title {
    color: $white;
    font-size: $font-size-base;
    margin: 0;
  }
}

