//-----------------//
//--- Utilities ---//
//-----------------//

// Wrapper
.wrapper {
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;
}
.wrapper-bottom {
  padding-bottom: $spacer * 2;
}

// HR
.custom-hr {
  color: $gray-500;
  margin: 0;
}
