//-----------------------------//
//--- Custom SCSS Variables ---//
//-----------------------------//

// Colors

$gray-100: #f5f7fa;
$gray-200: #e6eaf0;
$gray-300: #d7dde6;
$gray-400: #c9ccd8;
$gray-500: #b7c2cf;
$gray-600: #687079;
$gray-700: #43494f;
$gray-800: #2f343b;
$gray-900: #1c2127;

$white: #fff;
$black: #000;
$light: $gray-100;
$dark: $gray-900;
$primary: #501dff;

$gold: #FFD700;

// Body
$body-bg: $gray-200;
$body-color: $dark;

// Spacer
$spacer: 1rem;

// Typo
$font-family-base: 'Lato', sans-serif;
$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-bold: 700;
$font-size-base: 1rem;
$font-size-sm: .80rem;
$font-size-lg: 1.2rem;

// Links
$link-decoration: none;

// Line Height
$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 1.75;

// Headings
$headings-line-height: $line-height-sm;

// Radius
$border-radius: 3px;

// Box Shadow
$box-shadow: 0 .5rem 1rem rgba($black, .15);
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075);
$box-shadow-lg: 0 1rem 3rem rgba($black, .175);
$box-shadow-inset: inset 0 1px 2px rgba($black, .075);

// Buttons
$input-btn-padding-y: 1rem;
$input-btn-padding-x: 1.5rem;

// Forms
$input-bg: $white;
$form-floating-label-opacity: .5;
$input-placeholder-color: rgba($body-color, .4);

// Navbar
$navbar-nav-link-padding-x: 1rem;

// Cards
$card-bg: $white;
$card-border-width: 0;
$card-cap-padding-y: 1.5rem;
$card-cap-padding-x: 1.5rem;
$card-spacer-y: 1.5rem;
$card-spacer-x: 1.5rem;

// Transitions
$transition-base: all .2s ease-in-out;

// Offcanvas
$offcanvas-border-width: 0;
