//-----------------------------//
//--- Custom SCSS Variables ---//
//-----------------------------//

// Colors
$white: #fff;
$primary: #501dff;

// Body
$body-bg: #d6e0e3;
$body-color: #13044F;

// Typo
$font-family-base: 'Lato', sans-serif;
$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-bold: 700;

// Radius
$border-radius: 3px;

// Buttons
$input-btn-padding-y: 1rem;
$input-btn-padding-x: 1.5rem;

// Forms
$input-bg: $white;

// Cards
$card-bg: $white;
$card-border-width: 0;



