<section class="wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="card">
          <h5 class="card-header">Log In</h5>
          <div class="card-body">

            <div *ngIf="errorMessage" class="alert alert-danger mb-4" role="alert">
              {{ errorMessage }}
            </div>

            <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <!-- Email Field -->
                <div class="mb-3">
                  <label for="emailInput" class="form-label">Email</label>
                  <input type="email" class="form-control" placeholder="Email" formControlName="email" id="email"
                    [ngClass]="{ 'is-invalid': f['email'].invalid && f['email'].dirty }" required>
                  <div *ngIf="f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors['required'] && f['email'].dirty">Email is required.</div>
                    <div *ngIf="f['email'].errors['email'] && f['email'].dirty">Please enter a valid email address.</div>
                  </div>
                </div>

                <!-- Password Field -->
                <div class="mb-3">
                  <label for="passwordInput" class="form-label">Password</label>
                  <input type="password" class="form-control" placeholder="Password" formControlName="password" id="password"
                    [ngClass]="{ 'is-invalid': f['password'].invalid && f['password'].dirty }" required>
                  <div *ngIf="f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">Password is required.</div>
                  </div>
                </div>

                <!-- Submit Button -->
                <div class="d-flex align-items-center">
                  <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Log In</button>
                  <app-form-spinner *ngIf="showSpinner"></app-form-spinner>
                </div>

            </form>

          </div>
          <div class="card-footer">
            <a routerLink="/request-password-reset" class="card-link">Reset Password</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
