<app-loader *ngIf="isLoading"></app-loader>

<section class="wrapper">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-9 col-xl-8 col-xxl-7">

        <h2 class="text-center mb-4">Search a <span class="fw-bold">Magic: the Gathering</span> card to discover all its <span class="fw-bold">printed versions</span></h2>

        <div *ngIf="errorMessage" class="alert alert-danger mb-4" role="alert">
          {{ errorMessage }}
        </div>

        <form class="row justify-content-center g-2" [formGroup]="cardForm" (ngSubmit)="onSubmit()">
          <div class="col-12">

            <div class="form-floating position-relative">
              <input id="cardName" type="text" formControlName="cardName" class="form-control" (keydown.enter)="onSubmit()"
                placeholder="Card name" [ngClass]="{ 'is-invalid': submitted && f['cardName'].errors }" required />
              <label for="cardName">Card Name</label>
              <button *ngIf="f['cardName'].value" class="btn-reset" (click)="clearForm()" type="button">
                <i class="bi bi-x"></i>
              </button>
              <div *ngIf="submitted && f['cardName'].errors" class="invalid-feedback">
                <div *ngIf="f['cardName'].errors['required']">Card name is required.</div>
              </div>
            </div>

          </div>

          <div class="col-12 mb-3">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="showDigitalPrints" (change)="toggleShowDigitalPrints()">
              <label class="form-check-label" for="showDigitalPrints">Show digital prints</label>
            </div>
          </div>

          <div class="col-auto ms-auto">
            <button class="btn btn-secondary mx-2" type="button" (click)="clearForm()">Clear form</button>
            <button class="btn btn-primary" type="submit">Search card</button>
          </div>

        </form>

      </div>
    </div>
  </div>

</section>

<section class="py-4">
  <app-card-print-list [card]="card"></app-card-print-list>
</section>
