<div class="card-print">

  <div class="card-print_header">

    <div class="card-print_header__left">
      <img class="card-print_set-icon" src="{{ print.set_icon }}" alt="{{ print.set_name }}">
    </div>

    <div class="card-print_header__center">
      <h3 class="card-print_name">{{ card.name }}</h3>
      <h4 class="card-print_set-name">{{ print.set_name }}</h4>
    </div>

    <div class="card-print_header__right">
      <div *ngIf="print.foil == true">
        <div class="card-print_foil">
          <i class="bi bi-stars"></i>Foil
        </div>
      </div>
    </div>

  </div>

  <div class="card-print_body">

    <div class="card-print_body__left">
      <img class="card-print_image" src="{{ print.image_uri }}" alt="{{ card.name }} - {{ print.set_name }}">
    </div>

    <div class="card-print_body__right">

      <!-- <p>Border color: {{ print.border_color }}</p> -->


      <ul class="card-print_langs">
        <li *ngFor="let language of print.languages">
          <span class="card-print_langs__flag {{ language.flag_icon }}"></span>
          <span class="card-print_langs__name">{{ language.name }}</span>
        </li>
      </ul>

    </div>

  </div>



  <div class="card-print_footer">
    <div class="card-print_footer__left">
      <span class="card-print_artist">Illus. © {{ print.artist }}</span>
    </div>
    <div class="card-print_footer__right">
      <span class="card-print_date">{{ print.set_release_date | date:'yyyy' }}</span>
    </div>
  </div>

</div>
