<div class="card-print card" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="img-fluid rounded-start" [src]="print.image_uri" alt="{{ print.set_name }}">
    </div>
    <div class="col-md-8">
      <div class="card-body">

        <img class="mb-2" src="{{ print.set_icon }}" alt="{{ print.set_name }}" width="30" height="30">

        <h6 class="card-title">{{ print.set_name }}</h6>

        <p><strong>Has foil?</strong> {{ print.has_foil }}</p>

        <p><strong>Border color</strong> {{ print.border_color }}</p>

      </div>
    </div>
  </div>
</div>
