// Custom SCSS Variables
@import "./../../../shared/styles/variables";

//-------------------------//
//--- Card Print Styles ---//
//-------------------------//
.card-print {
  background-color: $white;
  // box-shadow: $box-shadow;
  border-radius: $border-radius;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid $gray-300;

  // Card print header
  &_header {
    display: flex;
    padding: .75rem 1rem .75rem 1rem;
    border-bottom: 1px solid $gray-200;
    background-color: $light;
    align-items: center;

    &__left {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 .75rem 0 0;
    }

    &__center {
      width: auto;
      margin: 0 .75rem;
    }

    &__right {
      width: auto;
      margin: 0 0 0 auto;
    }
  }

  // Card print body
  &_body {
    padding: 1rem 1rem .5rem;
    display: flex;

    &__left {
      width: calc(50% - .75rem);
      margin-right: .75rem;
    }

    &__right {
      width: calc(50% - .75rem);
      margin-left: .75rem;
    }
  }

  // Card print extras
  &_extras {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
    border-top: 1px solid $gray-200;
    background-color: $light;

    &__item {
      display: flex;
      align-items: center;
      border-left: 1px solid $gray-200;
      padding: .5rem 1rem;
      font-size: $font-size-sm;

      .icon-border {
        font-size: $font-size-sm * .7;

        &--black {
          color: $black;
        }

        &--gold {
          color: $gold;
        }
      }

      i {
        margin-right: .5rem;
      }
    }
  }

  // Card print footer
  &_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem .5rem 1rem;
    font-size: $font-size-sm;
    border-top: 1px solid $gray-200;
    background-color: $light;
  }

  // Card print set icon
  &_set-icon {
    width: 100%;
    max-height: 36px;
    max-width: 40px;
  }

  // Card print name
  &_name {
    font-size: $font-size-base;
    margin-bottom: .25rem;
    font-weight: $font-weight-bold;
  }

  // Card print set name
  &_set-name {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
    margin-bottom: 0;
    font-style: italic;
  }

  // Card print image
  &_image {
    border-radius: 4.75% / 3.5%;
    box-shadow: 0 .125rem .25rem rgba($black, .35);;
  }

  // Card print languages list
  &_langs {
    list-style-type: none;
    font-size: $font-size-sm;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      align-items: center;
    }

    &__flag {
      border-radius: 100%;
      margin-right: .5rem;
    }
  }
}

