// Custom SCSS Variables
@import "./../../../shared/styles/variables";

//---------------------------------//
//--- Notification Block Styles ---//
//---------------------------------//
.info-collapse {
  background-color: $primary;
  color: $white;
  padding: 1rem 0;

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;

    h4 {
      margin-bottom: 0;
      font-size: $font-size-lg;
    }

    p {
      margin-bottom: 0;
    }
  }
}
